body {
    background-color: #333333;
}

#map path {
    fill: #FFFFFF;
    stroke: #333333;
    stroke-width: 0.5;
}

#map path:hover{
    fill: #4b0657;
    stroke-width: 1;
}
#center-btn{
    position: absolute;
    right: 1em;
    bottom: 1em;
}


#map-container{
    height: 95vh;
    position: relative;
    overflow: hidden;
    padding: 10px;
    background-color: #444444;
    border-radius: 15px;
}
