#map path {
    fill: #FFFFFF;
    stroke: #333333;
    stroke-width: 0.5;
}

#map path:hover {
    fill: #b1d9ff !important;
    stroke-width: 1;
}

#center-btn {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#map-container {
    height: 95vh;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}

#main-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#discover-btn{
    align-self: center;
}

#message{
    position: absolute;
    right: 1em;
    bottom: 1em;
}

/* Own color scheme */
.visited{
    fill: var(--bs-primary) !important;
}